<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{email.confirmation.subject}">JiraRush - email confirmation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.confirmation.greeting(${user.firstName})}">Hello, ${user.firstName}.</p>
<p th:text="#{email.confirmation.instructions}">To complete the account setup and start using JiraRush, please confirm
    that you have correctly provided your email.</p>
<a th:href="${confirmationUrl}" th:text="#{email.confirmation.confirm}">Confirm Email</a>
</body>
</html>