<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{password.reset.subject}">JiraRush - reset password</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{password.reset.greeting(${user.firstName})}">Hello, ${user.firstName}.</p>
<p th:text="#{password.reset.instructions(${user.email})}">We've received a request to reset your JiraRush password for the account: ${user.email}.</p>
<a th:href="${resetUrl}" th:text="#{password.reset.confirm}">Reset Password</a>
</body>
</html>